<h1 class="text-center my-4">Your Requested Books</h1>

<table class="table table-hover align-middle">
  <thead class='table-primary'>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published in</th>
      <th>Volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <% if request.user_id == current_user.id %>
        <tr>
          <td class="fs-5"><%= request.title %></td>
          <td class="fs-5"><%= request.author %></td>
          <td class="fs-5"><%= request.published_in %></td>
          <td class="fs-5"><%= request.volume %></td>
          <td class="fs-5"><%= link_to 'Show', request, class: 'btn btn-info btn-sm' %></td>
          <td class="fs-5"><%= link_to 'Edit', edit_request_path(request), class: 'btn btn-secondary btn-sm' %></td>
          <td class="fs-5"><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Request New Book', new_request_path, class: 'btn btn-primary' %>
