<h1 class="text-center my-4">Issued Books</h1>

<table class='table table-hover align-middle'>
  <thead class='table-info'>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published in</th>
      <th>Volume</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issuedbooks.each do |ib| %>
        <% book = Book.find(ib.book_id) %>
      <tr>
        <td class="fs-5"><%= book.title %></td>
        <td class="fs-5"><%= book.author %></td>
        <td class="fs-5"><%= book.published_in %></td>
        <td class="fs-5"><%= book.volume %></td>
        <td class="fs-5"><%= book.availability %></td>

        <td class="fs-5"><%= link_to 'View Book', book, class: 'btn btn-info btn-sm' %></td>
        
        <% if user_signed_in? && !current_user.admin%>
          <% if Bookissue.where(user_id: current_user.id, book_id: book.id).blank? %>
            <td class="fs-5"><%= link_to 'Issue', issuebook_path(book, 'issue'), method: :put,  class: 'btn btn-warning btn-sm' %></td>
          <% else %>
            <td class="fs-5"><%= link_to 'Return', issuebook_path(book, 'return'), method: :delete,  class: 'btn btn-secondary btn-sm' %></td>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.admin %>
          <td class="fs-5"><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-secondary btn-sm' %></td>
          <td class="fs-5"><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
