<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation" class="field col-5 mx-auto mb-3">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li class="mt-1"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-5 mx-auto mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field col-5 mx-auto mb-3">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="field col-5 mx-auto mb-3">
    <%= form.label :published_in %>
    <%= form.number_field :published_in, class: 'form-control' %>
  </div>

  <div class="field col-5 mx-auto mb-3">
    <%= form.label :volume %>
    <%= form.number_field :volume, class: 'form-control' %>
  </div>

  <div class="actions col-5 mx-auto mb-3">
    <%= form.submit 'Submit', class: 'btn btn-outline-primary' %>
  </div>
<% end %>